/* Body */
body {
  font-family: 'Trebuchet MS';
  background-color: #282c37; }

/* Layout */
div.container {
  margin: -10px;
  display: flex;
  height: 100vh;
  overflow: hidden; }

div.sidebar {
  width: 300px; }

div.mapContainer {
  flex-grow: 1; }

div.informationBar {
  width: 0;
  max-width: 250px; }

/* Sidebar */
div.sidebar,
div.drawer {
  background-color: #282c37; }
  div.sidebar h3.title,
  div.drawer h3.title {
    color: #56b8e6;
    margin-left: 15px; }
    div.sidebar h3.title:hover,
    div.drawer h3.title:hover {
      cursor: pointer; }
  div.sidebar ul,
  div.drawer ul {
    padding: 0;
    list-style-type: none; }
  div.sidebar li,
  div.drawer li {
    list-style-type: none;
    font-weight: bold;
    font-size: 12px; }
    div.sidebar li a.browse,
    div.drawer li a.browse {
      display: block;
      background-color: inherit;
      color: white;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      padding: 10px;
      padding-left: 15px; }
      div.sidebar li a.browse:hover,
      div.drawer li a.browse:hover {
        color: #56b8e6;
        text-decoration: none; }
    div.sidebar li a.active,
    div.drawer li a.active {
      color: #56b8e6;
      background-color: #1c1f27; }

/* Map */
div#maps {
  width: 100%;
  height: 100vh; }

.marker_label_default {
  width: auto;
  height: 13px;
  border-radius: 15px 0px 0px 15px;
  background: #282c37;
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 5px; }

.marker_label_mouseover {
  width: auto;
  height: 25px;
  border-radius: 60px 0px 0px 60px;
  background: #56b8e6;
  text-align: center;
  font-size: 15px;
  color: #282c37;
  padding: 15px; }

/* Information bar */
div.informationBar {
  height: 100%;
  width: 0;
  background-color: #282c37;
  transition: 0.5s;
  color: white;
  font-size: 11px; }
  div.informationBar img#pics {
    height: 200px;
    margin: 0; }
  div.informationBar div.buttonContainer {
    position: static; }
    div.informationBar div.buttonContainer span.rigth_buttons {
      position: relative;
      top: -200px;
      left: 220px;
      font-size: 24px;
      color: white; }
      div.informationBar div.buttonContainer span.rigth_buttons a.btn_fa {
        margin-right: 10px;
        color: white; }
      div.informationBar div.buttonContainer span.rigth_buttons a.btn_fa:hover {
        text-decoration: none;
        color: #dfdfdf; }
  div.informationBar p#title {
    margin-top: -30px;
    padding: 5px;
    padding-left: 20px;
    background-color: #56b8e6;
    font-weight: bold;
    font-size: 14px; }
  div.informationBar p#desc {
    margin-left: 20px;
    margin-right: 15px; }
  div.informationBar p#span_address {
    margin-left: 20px;
    font-size: 11px; }
    div.informationBar p#span_address i#address_icon {
      color: #56b8e6; }
    div.informationBar p#span_address i#url_icon {
      color: #56b8e6; }
  div.informationBar p#span_url {
    margin-left: 20px;
    font-size: 11px; }
    div.informationBar p#span_url a#url {
      color: white;
      text-decoration: none;
      font-size: 11px; }
      div.informationBar p#span_url a#url:hover {
        color: gray;
        font-size: 11px;
        cursor: pointer; }

/* drawer */
div.drawer {
  display: none;
  z-index: 30;
  width: 200px;
  height: 100vh;
  background-color: #282c37;
  position: fixed;
  top: 55px;
  left: -200px;
  color: white;
  font-size: 11px;
  transition: left .3s ease; }

/* Burger Icon */
div.burgerIcon {
  z-index: 100;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: 0;
  right: 10px; }
  div.burgerIcon:hover {
    cursor: pointer; }
    div.burgerIcon:hover span {
      background-color: white; }
  div.burgerIcon span {
    width: 30px;
    height: 2px;
    margin: 2px;
    background-color: #56b8e6; }

/* Backdrop */
div.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  background-color: rgba(40, 44, 55, 0); }

@media (max-width: 450px) {
  /* Layout */
  div.container {
    flex-direction: column; }

  div.sidebar {
    width: 100%;
    height: 60px; }
    div.sidebar h3.title {
      font-size: 1em; }

  div.mapContainer {
    height: 100%;
    width: 100%; }
    div.mapContainer div#maps {
      height: 100%; }

  div.informationBar {
    height: 0;
    width: 0;
    max-width: 450px; }

  /* Information Bar */
  div.informationBar {
    z-index: 35;
    display: flex;
    flex-direction: column;
    width: 0;
    font-size: 11px; }
    div.informationBar img#pics {
      display: none; }
    div.informationBar div.buttonContainer {
      text-align: right;
      width: 100%;
      height: 1px;
      padding: 0; }
      div.informationBar div.buttonContainer span.rigth_buttons {
        width: 100%;
        top: 0;
        left: 0;
        font-size: 18px; }
        div.informationBar div.buttonContainer span.rigth_buttons a.btn_fa {
          margin-right: 10px; }
        div.informationBar div.buttonContainer span.rigth_buttons a.btn_fa:hover {
          color: #dfdfdf; }
    div.informationBar p#title {
      text-align: center;
      margin-top: 0;
      padding: 2px;
      padding-left: 2px; }
    div.informationBar p#desc, div.informationBar p#span_address, div.informationBar p#span_url {
      margin: 0 7px 7px 7px; }

  /* Drawer */
  div.drawer {
    display: block; }

  /* Burger Icon */
  div.burgerIcon {
    display: flex; } }

/*# sourceMappingURL=myStyle.css.map */
