$mainColor: #282c37;
$secondColor: #56b8e6;
$thirdColor: #1c1f27;

/* Body */

body {
  font-family: 'Trebuchet MS';
  background-color: $mainColor;
}

/* Layout */

div.container {
  margin: -10px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

div.sidebar {
  width: 300px;
}

div.mapContainer {
  flex-grow: 1;
}

div.informationBar {
  width: 0;
  max-width: 250px;
}


/* Sidebar */

div.sidebar {
  background-color: $mainColor;

  h3.title {
    color: $secondColor;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    font-weight: bold;
    font-size: 12px;

    a.browse {
      display: block;
      background-color: inherit;
      color: white;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      padding: 10px;
      padding-left: 15px;

      &:hover {
        color: $secondColor;
        text-decoration: none;
      }
    }

    a.active {
      color: $secondColor;
      background-color: $thirdColor;
    }
  }

}

/* Map */

div#maps {
  width: 100%;
  height: 100vh;
}

.marker_label_default {
  width: auto;
  height: 13px;
  border-radius: 15px 0px 0px 15px;
  background: $mainColor;
  text-align: center;
  font-size: 10px;
  color: white;
  padding: 5px;
}

.marker_label_mouseover {
  width: auto;
  height: 25px;
  border-radius: 60px 0px 0px 60px;
  background: $secondColor;
  text-align: center;
  font-size: 15px;
  color: $mainColor;
  padding: 15px;
}


/* Information bar */

div.informationBar {
  height: 100%;
  width: 0;
  background-color: $mainColor;
  transition: 0.5s;
  color: white;
  font-size: 11px;

  img#pics {
    height: 200px;
    margin: 0;
  }

  div.buttonContainer {
    position: static;

    span.rigth_buttons {
      position: relative;
      top: -200px;
      left: 220px;
      font-size: 24px;
      color: white;

      a.btn_fa {
        margin-right: 10px;
        color: white;
      }

      a.btn_fa:hover {
        text-decoration: none;
        color: rgb(223, 223, 223);
      }
    }
  }

  p#title {
    margin-top: -30px;
    padding: 5px;
    padding-left: 20px;
    background-color: $secondColor;
    font-weight: bold;
    font-size: 14px;
  }

  p#desc {
    margin-left: 20px;
    margin-right: 15px;
  }

  p#span_address {
    margin-left: 20px;
    font-size: 11px;

    i#address_icon {
      color: $secondColor;
    }

    i#url_icon {
      color: $secondColor;
    }

  }

  p#span_url {
    margin-left: 20px;
    font-size: 11px;

    a#url {
      color: white;
      text-decoration: none;
      font-size: 11px;

      &:hover {
        color: gray;
        font-size: 11px;
        cursor: pointer;
      }
    }
  }

}

@import 'myStyleMobile';